* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Madurai", sans-serif;
}

.greyButton {
  background-color: rgb(170, 170, 170);
  color: white;
  width: 150px;
}

.greyButton:hover {
  background-color: rgb(14, 146, 16);
}

.redButton {
  @extend .greyButton;
}

.redButton:hover {
  background-color: rgb(147, 14, 14);
}
.centerAlert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  gap: 10px;
}

.dataRow {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 30vw;
  gap: 5px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  background-color: rgb(220, 220, 220);
}

.rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1 {
  padding-top: 20px;
}
